{% extends 'mailing/home.html' %}
{% block content %}
<div class="col">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ message.letter_subject }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ message.text_letter }}</h1>
            <ul class="list-unstyled mt-3 mb-4"></ul>
            <a class="btn btn-lg btn-block btn-outline-primary" href="#">Выбрать</a>
            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:message_list' %}">Назад</a>
            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:message_update' object.pk%}">Редактировать</a>
            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:message_confirm_delete' object.pk%}">Удалить</a>
        </div>
    </div>
</div>
{% endblock %}